<div class="scanner g-all">

	<div class="scan-displays g-all">
		<canvas class="scan-area" id="scan-area" width="842" height="595">
		</canvas>
		<div class="scan-indicator"></div>

		<canvas class="scan-result" id="scan-result" width="842" height="595"></canvas>
	</div>

	<div class="scanner__controls d-all">
		<div class="g-1of2">
			<input type="file" id="img_upload" class="fileinput">
			<label for="img_upload" class="button">Choose a file</label>
			<div id="start_scan" class="button">Start Scan</div>
		</div>
		<div class="g-1of2">
			<!-- <div class="button">Preview Fullsize</div> -->
			<a id="download-image" class="button">Save</a>
		</div>
	</div>


</div>