/******************************************************************
Site Name: Glitch Scanner
Authors: Filip Michalski

Stylesheet: Variables

We want to make sure this file ONLY
contains variables that way our files don't get all messy.

******************************************************************/

$white:				#fafafa;
$black:				#030820;
$pink:        		#B25B66;
$blue:              #2178A8;
$dark-blue:         #202d38;
$red: 				#ff3231;
$sea:				#58C1BE;
$orange:			#F6BB42;
$green:             #94D9BB;
$light-green:       #00f3cc;
$light-gray:        #CBCCCD;
$gray:              #B25B66;
$tan:               #eceee5;
$yellow:     		#FFDE55;

$text-color:        $black;
$meta-gray:         #c6c6c5;

$link-color:        $pink;
$link-hover:        #e01e55;

$border-color:		#270F5F;

/**
 * 	BREAKPOINTS
 */
$breakpoint-mobile: 	481px;
$breakpoint-tablet:		768px;
$breakpoint-desktop:	1030px;
$breakpoint-wide:		1400px;
