html,body{
	font-size:100%;
}

body {
	background: $white;
	font-family: $sans-serif;
	color: #333;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.site-header{
	p{
		margin-top:0.2em;
	}
}
	.site-title{
		// padding-left:0.5em;
		margin:0.33em 0 0 0;
	}

.sidebar{
	padding-right:0;
}

.tutorial-overlay{
	width:100%;
	height:100%;
	position: fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	z-index: 0;
}