.save-modal, .load-modal{
	padding:30px;
	.icon{
		padding:10px;
	}
}

.save-modal{

	.field{
		margin-bottom:0;
	}

	.enter{
		position: absolute;
		right:0;
		top:0;
		// background:;
		border: 1px solid $border-color;

	}

}

.modal-content{
	position: relative;
}

.load-modal{
	&__item{
		position: relative;

		&__load{
			right:50px;
			border: 1px solid $border-color;
			border-right:0;
		}
		&__delete{
			right:0;
			border: 1px solid $border-color;
		}

		&:last-of-type{
			.field{
				margin-bottom:0;
			}
		}
	}
	.control{
		position: absolute;
		top:0;
	}
}
