.xy-controller{
	width:50%;
	background-color: #ccc;
	border: #777;
	min-height: 100px;

	svg{
		display:block;
		border:1px solid #333;
		width:100%;
		height:100%;
	}
	circle{
		border:1px solid white;
	}
}
	.automation-point{
		cursor: move;
	}

	.slope-controller{
		cursor: n-resize;
	}