/******************************************************************
Site Name: Glitch Scanner
Author: Filip Michalski

Stylesheet: Button Styles

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

*********************/
%btn {

	@extend .f-size-normal;

	display: inline-block;
	position: relative;
	font-family: $sans-serif;
	text-decoration: none;
	background-color: transparent;
	line-height: 1.5em;
	font-weight: 400;
	cursor: pointer;
	transition: background-color 0.15s ease-in-out ;
  transition: color 0.15s ease-in-out ;
  padding: 0.5em 0.7em;

  // hovering on the btn
  &:hover, &:focus {
    // @extend %box-shadow-0;
    // background-color: darken($link-color, 10%);
    background-color: $yellow;
    // color:white;

  } // end hover

  // clicking on the button
  &:active {
    
  } // end active

  a{
    text-decoration:none;
  }

} // end .button

.button{
	@extend %btn;
}

/**
 * File Input
 */
.fileinput{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.fileinput + label {
  @extend %btn;
}
