{% import "partials/xyController/xyController.html" as xyController %}

{% extends "layout.html" %}

{% block content %}

	<aside class="sidebar d-1of3 cf">
	    <header class="site-header m-all t-all d-all">
	        <h1 class="h1 site-title">Glitch Scanner</h1>
	    </header>
		<!-- <div class="sidebar__item">Load Automation Presets</div> -->
	</aside>

	<main class="main d-2of3 last-col cf">
		
		{% include "partials/scanner/scanner.html" %}
		
		<div class="automation g-all">
			
			<div class="automation__top-panel g-all">
				
				<div class="automation__header">
					automation	
				</div>

				<div class="automation__timeline">
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
					<div class="timeline__indicator"></div>
				</div>

			</div>
			
			<div id="x-controller">
				{{ xyController.controller('x movement', [100,-100] , '%') }}
			</div>

			<div id="y-controller">
				{{ xyController.controller('y movement', [100,-100], '%') }}
			</div>

			<div id="rotation-controller">
				{{ xyController.controller('rotation',[-45,45],'°') }}
			</div>

		</div>

		{% include "partials/contextMenu/contextMenu.html" %}
		
	</main>


{% endblock %}